<plugin
        id="it.unibz.inf.ontouml.vp"
        description="OntoUML Plugin Visual Paradigm"
        provider="University of Bolzano"
        class="it.unibz.inf.ontouml.vp.OntoUMLPlugin">
        
    <actionSets>
        <actionSet id="it.unibz.inf.ontouml.vp.actionset1">
            <toolbar
                    id="it.unibz.inf.ontouml.vp.actionset1.toolbar1"
                    orientation="north"
                    index="last"/>
            <action 
                    id="it.unibz.inf.ontouml.vp.actions.ModelVerificationAction"
                    actionType="generalAction"
                    description="Verify OntoUML Model."
                    style="normal"
                    tooltip="Verify model" 
                    icon="icons/toolbar/magnifying-glass-with-check-mark-orange.png"
                    label="Verify Model"
                    toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ModelVerificationAction" />
            </action>
            <action 
                    id="it.unibz.inf.ontouml.vp.actions.ModelExportAction"
                    actionType="generalAction"
                    description="Export OntoUML Model in both JSON and XMI."
                    style="normal"
                    tooltip="Export Model" 
                    icon="icons/toolbar/share-blue.png"
                    label="Export Model"
                    toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ModelExportAction" />
            </action>
            <action 
                    id="it.unibz.inf.ontouml.vp.actions.PaintModel"
                    actionType="generalAction"
                    description="Smart Paint Current project."
                    style="normal"
                    tooltip="Paint Model" 
                    icon="icons/toolbar/share-blue.png"
                    label="Paint Model"
                    toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.PaintModelAction" />
            </action>
            <action 
                    id="it.unibz.inf.ontouml.vp.actions.OpenConfigurationsAction"
                    actionType="generalAction"
                    description="Opens configurations menu."
                    style="normal"
                    tooltip="Opens configurations menu"
                    icon="icons/toolbar/list-orange.png"
                    label="Configurations"
                    toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.OpenConfigurationsAction" />
            </action>
        </actionSet>
        
        <contextSensitiveActionSet id="it.unibz.inf.ontouml.vp.ClassStereotypes">
            <contextTypes all="false"/>
            <include type="Class"/>
            <menu id="ontoUMLMenu1" label="OntoUML Stereotypes" mnemonic="O" menuPath="#" icon="icons/logo/ontuml-simple-logo-small.png"/>
            

            <action id="it.unibz.inf.ontouml.vp.addEnumerationStereotype" label="Enumeration" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addDatatypeStereotype" label="Datatype" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <separator id="it.unibz.inf.ontouml.vp.separator0" menuPath="ontoUMLMenu1/#" />

            <action id="it.unibz.inf.ontouml.vp.addTypeStereotype" label="Type" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
          <!-- POWERTYPE REMOVED IN 17 FEV 2020  <action id="it.unibz.inf.ontouml.vp.addPowertypeStereotype" label="Powertype" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action> -->
    
            <separator id="it.unibz.inf.ontouml.vp.separator2" menuPath="ontoUMLMenu1/#"/>

            <action id="it.unibz.inf.ontouml.vp.addHistoricalRoleStereotype" label="HistoricalRole" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addEventStereotype" label="Event" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <separator id="it.unibz.inf.ontouml.vp.separator1" menuPath="ontoUMLMenu1/#" />
            
            <action id="it.unibz.inf.ontouml.vp.addSubkindStereotype" label="Subkind" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addRoleMixinStereotype" label="RoleMixin" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addRoleStereotype" label="Role" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addRelatorStereotype" label="Relator" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addQuantityStereotype" label="Quantity" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addQualityStereotype" label="Quality" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addPhaseMixinStereotype" label="PhaseMixin" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addPhaseStereotype" label="Phase" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addModeStereotype" label="Mode" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addMixinStereotype" label="Mixin" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addKindStereotype" label="Kind" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addCollectiveStereotype" label="Collective" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
        
            <action id="it.unibz.inf.ontouml.vp.addCategoryStereotype" label="Category" style="normal" menuPath="ontoUMLMenu1/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
        </contextSensitiveActionSet>
        
        <contextSensitiveActionSet id="it.unibz.inf.ontouml.vp.AssociationStereotypes">
            <contextTypes all="false"/>
            <include type="Association"/>
            
            <menu id="ontoUMLMenu2" label="OntoUML Stereotypes" mnemonic="O" menuPath="#" icon="icons/logo/ontuml-simple-logo-small.png"/>
                
            <action id="it.unibz.inf.ontouml.vp.addInstantiationStereotype" label="Instantiation" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <separator id="it.unibz.inf.ontouml.vp.AssociationSeparator1" menuPath="ontoUMLMenu2/#" />
            
            <action id="it.unibz.inf.ontouml.vp.addTerminationStereotype" label="Termination" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addParticipationalStereotype" label="Participational" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addParticipationStereotype" label="Participation" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addHistoricalDependenceStereotype" label="HistoricalDependence" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addCreationStereotype" label="Creation" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addManifestationStereotype" label="Manifestation" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <separator id="it.unibz.inf.ontouml.vp.AssociationSeparator0" menuPath="ontoUMLMenu2/#" />

            <action id="it.unibz.inf.ontouml.vp.addSubQuantityStereotype" label="SubQuantityOf" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addSubCollectionStereotype" label="SubCollectionOf" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
                
            <action id="it.unibz.inf.ontouml.vp.addMemberOfStereotype" label="MemberOf" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addMediationStereotype" label="Mediation" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addMaterialStereotype" label="Material" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addExternalDependenceStereotype" label="ExternalDependence" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
                
            <action id="it.unibz.inf.ontouml.vp.addComponentOfStereotype" label="ComponentOf" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>

            <action id="it.unibz.inf.ontouml.vp.addComparativeStereotype" label="Comparative" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addCharacterizationStereotype" label="Characterization" style="normal" menuPath="ontoUMLMenu2/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
        </contextSensitiveActionSet>

        <contextSensitiveActionSet id="it.unibz.inf.ontouml.vp.AttributeStereotypes">
            <contextTypes all="false"/>
            <include type="Attribute"/>
            
            <menu id="ontoUMLMenu3" label="OntoUML Stereotypes" mnemonic="O" menuPath="#" icon="icons/logo/ontuml-simple-logo-small.png"/>
                
            <action id="it.unibz.inf.ontouml.vp.addEndStereotype" label="End" style="normal" menuPath="ontoUMLMenu3/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
            <action id="it.unibz.inf.ontouml.vp.addBeginStereotype" label="Begin" style="normal" menuPath="ontoUMLMenu3/#">
                <actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/>
            </action>
            
        </contextSensitiveActionSet>
    </actionSets>
</plugin>