<plugin
		id="it.unibz.inf.ontouml.vp"
		description="OntoUML Plugin Visual Paradigm"
		provider="University of Bolzano"
		class="it.unibz.inf.ontouml.vp.OntoUMLPlugin">
		
	<actionSets>
		<actionSet id="it.unibz.inf.ontouml.vp.actionset1">
			<toolbar
					id="it.unibz.inf.ontouml.vp.actionset1.toolbar1"
					orientation="north"
					index="last"/>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.ModelVerificationAction"
					actionType="generalAction"
					description="Verify OntoUML Model."
					style="normal"
					tooltip="Verify model" 
					icon="icons/toolbar/magnifying-glass-with-check-mark-orange.png"
					label="Verify Model"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ModelVerificationAction" />
			</action>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.ModelExportAction"
					actionType="generalAction"
					description="Export OntoUML Model in both JSON and XMI."
					style="normal"
					tooltip="Export Model" 
					icon="icons/toolbar/share-blue.png"
					label="Export Model"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ModelExportAction" />
			</action>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.OpenConfigurationsAction"
					actionType="generalAction"
					description="Opens configurations menu."
					style="normal"
					tooltip="Opens configurations menu"
					icon="icons/toolbar/list-orange.png"
					label="Configurations"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.OpenConfigurationsAction" />
			</action>
		</actionSet>
		
		<contextSensitiveActionSet id="it.unibz.inf.ontouml.vp.ClassStereotypes">
			<contextTypes all="false"/>
			<include type="Class"/>
			
			<menu
				id="ontoUMLMenu1" label="OntoUML Stereotypes" mnemonic="O" menuPath="#" icon="icons/logo/ontuml-simple-logo-small.png"/>
				
			<separator
				id="it.unibz.inf.ontouml.vp.separator0" menuPath="ontoUMLMenu1" />
				
			<action
				id="it.unibz.inf.ontouml.vp.addPhaseStereotype" label="Phase" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addRoleStereotype" label="Role" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addSubkindStereotype" label="Subkind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<separator
				id="it.unibz.inf.ontouml.vp.sortalsSeparator" menuPath="ontoUMLMenu1/#" />
			
			<action
				id="it.unibz.inf.ontouml.vp.addMixinStereotype" label="Mixin" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addPhaseMixinStereotype" label="PhaseMixin" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addRoleMixinStereotype" label="RoleMixin" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addCategoryStereotype" label="Category" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<separator
				id="it.unibz.inf.ontouml.vp.kindsSeparator" menuPath="ontoUMLMenu1/#" />
			
			<action
				id="it.unibz.inf.ontouml.vp.addQualityKindStereotype" label="Quality Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addModeKindStereotype" label="Mode Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addRelatorKindStereotype" label="Relator Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addQuantityKindStereotype" label="Quantity Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addCollectiveKindStereotype" label="Collective Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addKindStereotype" label="Kind" style="normal" menuPath="ontoUMLMenu1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
		</contextSensitiveActionSet>
		
		<contextSensitiveActionSet id="it.unibz.inf.ontouml.vp.AssociationStereotypes">
			<contextTypes all="false"/>
			<include type="Association"/>
			
			<menu
				id="ontoUMLMenu2" label="OntoUML Stereotypes" mnemonic="O" menuPath="#" icon="icons/logo/ontuml-simple-logo-small.png"/>
				
			<separator
				id="it.unibz.inf.ontouml.vp.AssociationSeparator0" menuPath="ontoUMLMenu2" />
						
			<action
				id="it.unibz.inf.ontouml.vp.addSumStereotype" label="Sum" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addSubQuantityStereotype" label="Sub-Quantity" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addSubCollectionStereotype" label="Sub-Collection" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addMemberOfStereotype" label="Member Of" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addComponentOfStereotype" label="Component Of" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<separator
				id="it.unibz.inf.ontouml.vp.AssociationSeparator1" menuPath="ontoUMLMenu2/#" />
					
			<action
				id="it.unibz.inf.ontouml.vp.addExternalDependenceStereotype" label="External Dependence" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addCharacterizationStereotype" label="Characterization" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
			
			<action
				id="it.unibz.inf.ontouml.vp.addMediationStereotype" label="Mediation" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<separator
				id="it.unibz.inf.ontouml.vp.AssociationSeparator2" menuPath="ontoUMLMenu2/#" />

			<action
				id="it.unibz.inf.ontouml.vp.addQuantityHistoricalStereotype" label="Historical" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addCollectiveComparativeStereotype" label="Comparative" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
				
			<action
				id="it.unibz.inf.ontouml.vp.addMaterialStereotype" label="Material" style="normal" menuPath="ontoUMLMenu2/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ApplyStereotype"/> </action>
		</contextSensitiveActionSet>
	</actionSets>
</plugin>