<plugin
		id="it.unibz.inf.ontouml.vp"
		name="OntoUML Plugin for Visual Paradigm"
		description="OntoUML Plugin Visual Paradigm"
		provider="University of Bolzano"
		class="it.unibz.inf.ontouml.vp.OntoUMLPluginForVP">
	<actionSets>
		<actionSet id="it.unibz.inf.ontouml.vp.actionset1">
			<toolbar
					id="it.unibz.inf.ontouml.vp.actionset1.toolbar1"
					orientation="north"
					index="last"/>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.OpenOntoUMLMenuAction"
					actionType="generalAction"
					description="Add OntoUML Stereotypes."
					style="normal"
					tooltip="Add OntoUML Stereotypes." 
					icon="icons/menu.png"
					label="Add OntoUML"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ActivateOntoUMLPlugin" />
			</action>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.OpenOntoUMLMenuAction2"
					actionType="generalAction"
					description="Default Stereotypes."
					style="normal"
					tooltip="Default Stereotypes." 
					icon="icons/menu.png"
					label="Default Stereotypes"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ActivateDefaultStereotypes" />
			</action>
			<action 
					id="it.unibz.inf.ontouml.vp.actions.OpenOntoUMLMenuAction3"
					actionType="generalAction"
					description="Validate the OntoUML Model."
					style="normal"
					tooltip="Validate model" 
					icon="icons/menu.png"
					label="Validate Model"
					toolbarPath="it.unibz.inf.ontouml.vp.actionset1.toolbar1/#">
				<actionController class="it.unibz.inf.ontouml.vp.controllers.ValidateOntoUMLModel" />
			</action>
		</actionSet>
	</actionSets>
</plugin>